name: Archivetherepo

on:
 pull_request:
 
env:
  CURRENT_PR_REPO: "${{ github.repository }}"
  GIT_TOKEN: "${{ github.token }}"
  CURRENT_PR_NUMBER: "${{ github.event.pull_request.number }}"
  

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repository source code
      uses: actions/checkout@v2
      if: github.event_name == 'pull_request' && github.event.pull_request.merged == "true"
    - run: sudo apt-get update -y
    - run: sudo apt install -y jq
    - run: jq --version
    - run: chmod +x ./transfer_repo.sh
    - run: ./transfer_repo.sh ${{ env.GIT_TOKEN }} ${{ env.CURRENT_PR_REPO }} ${{ env.CURRENT_PR_NUMBER }}
      shell: bash

      
